* {
  margin: 0;
  padding: 0;
}

/* Styling the header */
header {
  display: flex;
  width: 100%;
  background-color: #0291e8;
  height: 100.817px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logo {
  height: 100px;
  position: absolute;
  left: 0;
}

.navlist {
  display: inline-block;
}

#nav {
  align-self: center;
  word-spacing: 45px;
  margin-left: 170px;
}

.navlink {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 23px;
}

.navlink:hover {
  color: #e50620;
}

/* Styling main page image */
#boxinglab {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#boxinglab h1 {
  color: #0693e3;
  font-size: 100px;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0.5px;
}
#boxinglab h2 {
  color: #e30b20;
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 0px;
  padding-top: 1px;
}

#boxinglab img {
  width: 300px;
  margin-left: 5px;
}

/* Styling main content */

.main-line {
  border: 5px solid #0693e3;
  margin-top: 10px;
}
#main-content-images {
  font-size: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-image {
  width: 33.333%;
}

#boxing-lessons-bangor {
  text-align: center;
  margin-top: 20px;
  font-size: 70px;
  font-family: "Bebas Neue", cursive;
  background-color: #0692e3;
  margin-bottom: 27px;
}
.surround {
  border: 5px solid #e30b20;
}
.lesson-type {
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
  margin-left: 20px;
}

.lesson-type {
  margin-top: 20px;
}

#lesson-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#lesson-images img {
  width: 35%;
  display: block;
}

#lesson-plus-para {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#lesson-list {
  background-color: #e30b20;
  border-left: white solid 20px;
  border-right: white solid 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#paras {
  background-color: #0692e3;
  font-size: 20px;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-bottom: 60px;
}
#paras h3 {
  color: black;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}
#boxman {
  height: 582.4;
}

#lesson-plus-para iframe {
  margin-top: 15px;
  width: 350px;
  height: 492.6px;
}

#map {
  margin-left: 20px;
}

#map label {
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}

#map-line {
  border: 5px solid #e30b20;
}

.bottom-container {
  height: 140.817px;
  background-color: #0693e3;
  margin-top: 20px;
}

/* Styling timetable */

#timetable-title {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  color: #e30b20;
}

table {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-collapse: collapse;
}

table th,
td {
  border: 4px solid white;
  font-family: Arial, Helvetica, sans-serif;
  width: 140px;
  height: 70px;
}
table th {
  color: white;
}
table td {
  text-align: center;
  font-weight: bold;
  color: white;
}
tr:nth-child(even) {
  background-color: #e50620;
}

tr:nth-child(odd) {
  background-color: #0692e3;
}

/* Styling the gallery */

#gallery-title {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  color: #e30b20;
}
#first-gallery {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

#gall-side-img {
  width: 29%;
  height: 703.7px;
}

.first-img-line {
  display: flex;
  flex-direction: column;
  width: 34%;
  row-gap: 15px;
}

#full-width-photo {
  margin-top: 15px;
}

#last-image-line {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.last-img-line {
  width: 32.3%;
}

/* Styling prices page */

#prices-title {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  color: #e30b20;
}

.price {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: black;
  list-style: none;
}

.money {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: black;
}

.price-line {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  border: 5px solid #e50620;
}

/* Styling the contact us page */

/* #contact-us {
  display: grid;
  grid-template-columns: 1fr 1% 1fr;
} */

#info h2 {
  margin-top: 30px;
  text-align: center;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  color: #e30b20;
}

/* #contact-form h2 {
  margin-top: 30px;
  text-align: center;
  margin-left: 30px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  color: #e30b20;
} */

/* #vertical {
  border-left: 8px solid #e50620;
  height: 712px;
  margin-top: 20px;
} */

.info-link {
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: black;
  list-style: none;
  text-decoration: none;
}
#phone {
  margin-top: 30px;
}
#email {
  margin-top: 20px;
}

#location {
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: black;
  list-style: none;
  text-decoration: none;
}

#list {
  text-align: center;
  list-style: none;
}

#contact-map {
  margin-left: 60px;
  height: 400px;
}
